# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Understand basic arithmetic expressions.
- Learn popular languages for Data Science, including Python, R, and SQL.
- Explore various data science tools and libraries.
- Practice using Jupyter Notebooks for data analysis.
- Convert units and perform simple conversions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python.

- **Addition**: \( 3 + 5 = 8 \)
- **Subtraction**: \( 10 - 2 = 8 \)
- **Multiplication**: \( 4 \times 6 = 24 \)
- **Division**: \( 20 \div 4 = 5 \)

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Lakshmi Holla